---
import Container from "@/components/commons/container.astro";
---

<section class='py-20 bg-background'>
   <Container>
      <h2 class='text-3xl font-bold mb-4'>Título de la sección</h2>
      <p>Este contenido estará centrado y con padding horizontal.</p>
   </Container>
</section>
