---
import Container from "@/components/commons/container.astro";
---

<Container
   ><div class='w-full my-10'>
      <div
         class='w-full h-px bg-[repeating-linear-gradient(to_right,#d82323_0_4px,transparent_4px,transparent_12px)]'
      ></div>
   </div></Container
>
